.appContainer {
    display: flex;
    justify-content: left;
    padding: 10px 0;
}

.openBtn {
    padding: 17px;
    font-size: 17px;
    cursor: pointer;
    background-color: #67656a;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border: 1px solid rgb(20 19 19);
    border-radius: 6px;
}

.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(10, 10, 10, 0.5);
    display: flex;
    justify-content: center;
    align-items: start;
    z-index: 1000;
}

.modalContent {
    margin-top: 40px;
    background-color: #585454;
    padding: 24px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.modalHeader h2 {
    margin: 0;
    font-size: 20px;
}

.closeX {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.modalForm {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.formGroup {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: flex-start;
    width: 100%
}

.formGroup label {
    font-size: 14px;
    font-weight: 600;
}

.formGroup input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 100%
}

.modalFooter {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 10px;
}

.cancelBtn,
.submitBtn {
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.submitBtn {
    background-color: #007bff;
    color: white;
}