.summaryContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: #474646;
    border: 1px solid rgb(106, 102, 102);
    border-radius: 6px;
    padding: 1rem;
    margin-top: 2rem;
}

.summaryItem {
    width: 10rem
}

.error {
    color: rgb(222, 110, 110);
    margin-bottom: 20px;
}