.tableWrapper {
    padding: 20px;
    overflow-x: auto;
    overflow-y: scroll;
    height: 30vh;
    border: 1px solid rgb(106, 102, 102);
    border-radius: 5px;
}

.orderEventsTable {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.orderEventsTable thead tr {
    border-bottom: 2px solid rgb(106, 102, 102);
}

.orderEventsTable thead th {
    padding: 10px;
}

.orderEventsTable tbody tr {
    border-bottom: 1px solid rgb(106, 102, 102);
}

.orderEventsTable tbody td {
    padding: 10px;
}

.error {
    color: rgb(222, 110, 110);
    margin-bottom: 20px;
    margin-top: 20px;
}