.tableWrapper {
    padding: 20px;
    overflow-x: auto;
    overflow-y: scroll;
    height: 30vh;
    border: 1px solid rgb(106, 102, 102);
    border-radius: 5px;
}

.ordersTable {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.ordersTable thead tr {
    border-bottom: 2px solid rgb(106, 102, 102);
}

.ordersTable thead th {
    padding: 10px;
}

.ordersTable tbody tr {
    border-bottom: 1px solid rgb(106, 102, 102);
}

.ordersTable tbody td {
    padding: 10px;
}

.error {
    color: rgb(222, 110, 110);
    margin-bottom: 20px;
}

.retryButton {
    padding: 5px 10px;
    background-color: rgb(106, 102, 102);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.retryIcon {
    font-size: 30px;
    line-height: 1;
    transition: transform 0.3s ease;
}