.queueStatsContainer {
    padding-right: 2.85rem;
    padding-left: 0.5rem;
    padding-top: 1rem;
    background-color: #2e2c2c;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.queueStatsList {
    list-style-type: none;
    text-align: left;
    font-size: 1.2rem;
}

h2 {
    color: #9ca3af;
}

.error {
    color: rgb(222, 110, 110);
    margin-bottom: 20px;
}